 @font-face{
	font-family:Chiller;
	src :url('Chiller.ttf');
 }


#body{
	background-image: url("images/lem.png");
	
	font-family:Lucida Bright;
	color:#000000;
	background-attachment: fixed;
    background-position: 50% 50%;
    max-width: 100%;
    position: relative;
    height: 1000px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
	
}


#webDevelopment{
	background-image: url("images/htmlcss.png");
	/*background-color: #ffffff;*/
    height: 270px;
}


#top{
	margin-top:75px;
}

#nav{
	/*background-color:white;*/
}

.quotes {display: none;}


ul li{
	margin-right:10px;
}

ul li a{
	color:#ffffff;
}


a:hover{
	color:grey;
}

